.idea*
.idea/*
./idea
./idea/*
*.swp
__MACOSX/*
.buildpath
.project
.settings
assets/*
nbproject/*
protected/runtime/*
protected/runtime/application.log
protected/runtime/debug_errors.txt
protected/runtime/state.bin
protected/config/main.php
uploads/*
webstat/*
uploads/.gitkeep
_uploads/*
/.idea/tur.iml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/.name
/.idea/modules.xml
/.idea/misc.xml
/.idea/encodings.xml
/.idea/scopes/scope_settings.xml
/.idea/codeStyleSettings.xml
error.log
access.log
nbproject/
/.idea/
/content/.tmb/