.autocomplete-suggestion {
		width: 280px!important;
		line-height: 16px;
		cursor: pointer;
		font-size: 16px;
		color: #000;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		text-indent: 10px;
		padding: 10px 0;
		background: #fff;
		font-family: Arial, Verdana, 'Bree Serif'; 
}
.autocomplete-suggestion strong {
		color: #0bb7da;
		font-family: Arial, Verdana, 'Bree Serif';
		font-weight: normal;
}