h3 {
	margin-top: 2em;
}

.roto {
	visibility: hidden;
}

#slideshow {
	width: 400px;
	height: 300px;
	background-color: rgb(60,60,60);
	border: solid black 1px;
}

#slideshow li {
	width: 390px;
	height: 290px;
	border: solid white 5px;
	text-align: center;
	font-size: 2em;
	line-height: 290px;
	color: white;
}

#listbox {
	width: 320px;
	height: 400px;
	border: solid black 1px;
	background-color: rgb(240,240,240);
}

#listbox span {
	width: 318px;
	height: 48px;
	border: solid rgb(240,240,240) 1px;
	text-align: center;
	line-height: 48px;
	background-color: white;
}

#vertical-multi {
	width: 450px;
	height: 450px;
}

#vertical-multi li {
	width: 150px;
	height: 150px;
	text-align: center;
	overflow: hidden;
}

#vertical-multi img {
	display: inline;
}

#carousel{
width: 98%;
height: 210px;
margin-left: auto;
margin-right: auto;
position: static !important;
background: #fff;
	}

#carousel2{
width: 98%;
height: 210px;
margin-left: auto;
margin-right: auto;
position: static !important;
background: #fff;
	}
#carousel3{
width: 98%;
height: 105px;
margin-left: auto;
margin-right: auto;
position: static !important;
background: #fff;
margin-bottom: 10px;
	}
.prev, .next{
	background: #3B7DBA;
	border: none;
	box-shadow: none;
	color: #fff;
	}
.prev{
	}

.prev:hover{}

.next{

	}

.next:hover{}




.bond-slide{}

.bond-slide a{
	display:block;
	}

.bond-slide a:hover h3{
	text-decoration:underline;
	}



.article {
color: #727272;
font-size: 12px;
margin-top: 13px;
margin-bottom: 0px;
margin-left: 10%;
padding-left: 10px;}


.article span {
color: #000;
padding-left: 5px;
}


.bond-slide img {
max-width: 70%;
margin-top: 5px;
margin-left: 14%;}


.bond-slide h3 {
font-size: 12px;
color: #000;
text-align: center;
padding: 0px;
height: 29px;
overflow: hidden;
margin-top: 6px;
width: 120px;
margin-left: auto;
margin-right: auto;
}

.price {
font-size: 18px;
color: #396894;
font-weight: bold;
display: block;
text-align: center;
margin-top: 7px;
}


#tabsLink{
	width: 100%;
height: 30px;}

#tabsLink span{
background: #5ABCE4;
padding: 12px 0px;
color: #fff;
text-decoration: none;
font-size: 16px;
text-transform: uppercase;
text-align: center;
float: left;
cursor: pointer;
display: inline-block;
width: 45%;
margin-left: 3.5%;
margin-bottom: 10px;
	}
#tabsLink span.active{background: #3377B6;}
#tabsLink span:hover{background: #3377B6;}


#carouselBlock{
	width: 95%;
margin-left: auto;
margin-right: auto;
padding-left: 5px;
height: 210px;
overflow:hidden;}